.body{
    width: 100%;
}

.container{
    background-color: #E5E5E5;
    width: 375px;
    margin: 50px auto;
}

.form .form_header{
    padding: 37px 0 30px 0;
}

.form_header h1{
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;

    align-items: center;
    text-align: center;

    color: #34495E;
}

.input-form{
    position: relative;
}

.input-form input{
    font-family: "Roboto";
    font-weight: 300;
    font-size: 20px;
    align-items: center;
    color: #242021;

    padding: 0 0 0 25px;

    background: #FFF  url("/res/img/unchecked.png") 260px 28px no-repeat;

    width: 290px;
    height: 80px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    border: none;
    margin: 15px 27px;
}

.input-form input:focus{
    border: 1px solid #50A900;
    background: #FFF  url("/res/img/checked.png") 260px 28px no-repeat;
}

.input-form input::placeholder{
    opacity: 0;
}

.input-form_label{
    font-family: "Roboto";
    font-weight: 300;
    font-size: 20px;
    align-items: center;
    color: #242021;

    position: absolute;
    top: 50%;
    left: 14%;
    transform: translateY(-50%);
}

.input-form input:focus + .input-form_label{
    font-family: "Roboto";
    font-weight: 400;
    font-size: 12px;
    align-items: center;
    color: #81909F;

    margin: -20px 0 0 0;

    transition: all 0.2s ease-in-out;
}

.input-form input:not(:placeholder-shown) + .input-form_label{
    font-family: "Roboto";
    font-weight: 400;
    font-size: 12px;
    align-items: center;
    color: #81909F;

    margin: -20px 0 0 0;
}

.input-form textarea{
    font-family: "Roboto";
    font-weight: 300;
    font-size: 20px;
    align-items: center;
    color: #242021;

    padding: 20px 0 0 25px;

    width: 290px;
    height: 170px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    border: none;
    margin: 15px 27px;

    resize: none;
}

.input-form textarea:focus{
    border: 1px solid #50A900;
    background: #FFF;
}

.input-form textarea::placeholder{
    opacity: 0;
}

.input-form_label-textarea{
    font-family: "Roboto";
    font-weight: 300;
    font-size: 20px;
    align-items: center;
    color: #242021;

    position: absolute;
    top: 20%;
    left: 14%;
    transform: translateY(-50%);
}

.input-form textarea:focus + .input-form_label-textarea{
    font-family: "Roboto";
    font-weight: 400;
    font-size: 12px;
    align-items: center;
    color: #81909F;

    margin: -15px 0 0 0;

    transition: all 0.2s ease-in-out;
}

.input-form textarea:not(:placeholder-shown) + .input-form_label-textarea{
    font-family: "Roboto";
    font-weight: 400;
    font-size: 12px;
    align-items: center;
    color: #81909F;

    margin: -15px 0 0 0;
}

.checkbox_form input{
    margin: 15px 17px 0 40px;
    border: none;
}

input[type="checkbox"]{
    display: none;
}

.checkbox_form label{
    font-family: "Roboto";
    font-weight: 400;
    font-size: 16px;
    align-items: center;
    color: #242021;
}

.checkbox_form label:before{
    content: '';
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 0.5px solid #81909F;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    background-color: #FFFFFF;
    margin: 17px 17px -10px 40px;
    transition: 0.2s;
}

input[type="checkbox"]:checked + label:before{

    background: #50A900  url("/res/img/Path.png") 7px no-repeat;
    background-size: 50%;
    align-items: center;
}

.input-form_password input{
    font-family: "Roboto";
    font-weight: 300;
    font-size: 20px;
    align-items: center;
    color: #242021;

    padding: 0 0 0 25px;

    background: #FFF;

    width: 290px;
    height: 80px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    border: none;
    margin: 15px 27px;
}

.input-form_password input:focus{
    border: 1px solid #50A900;
    background: #FFF;
}

.button{
    width: 320px;
    height: 80px;
    margin: 15px 27px;
    background: #50A900;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    border: none;

    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}
